/* ===== Reset ===== */
/* איפוס מרווחים והגדרות ברירת מחדל לכל האלמנטים */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* כולל padding ו-border בתוך הרוחב */
}


/* ===== Base ===== */
/* עיצוב בסיסי של גוף הדף */
body {
    min-height: 100vh;
    /* גובה מינימלי בגובה המסך */

    margin: 0;

    font-family: 'Heebo', sans-serif;
    /* פונט ראשי */
    color: #ffffff;
    /* צבע טקסט כללי */

    /* תמונת רקע מלאה */
    background: url("../assets/images/backgroundImg.png") center / cover no-repeat fixed;

    display: flex;
    flex-direction: column;
    /* סידור אנכי */
}


/* ===== Header ===== */
/* אזור הכותרת העליונה */
.app-header {
    padding: 15px 30px 15px 30px;
    margin: 0;

    display: flex;
    align-items: center;
    /* יישור אנכי */
    justify-content: space-between;
    /* ריווח בין אלמנטים */
}

/* כותרת ראשית */
.app-header .app-title {

    font-size: 3.5rem;
    font-weight: 850;

    color: #ffffff;
    text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
}


/* ===== Buttons ===== */
/* עיצוב כללי לכפתורים */
.btn {
    height: 55px;
    padding: 12px 24px;


    border: none;
    border-radius: 10px;

    background-color: #4e5280;
    color: #ffffff;

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    font-size: 1.4rem;
    cursor: pointer;
    text-align: center;

    transition: 0.3s ease;
    /* אנימציה חלקה */
}

/* אפקט מעבר עכבר */
.btn:hover {
    background-color: #313352;
    transform: translateY(-2px);
}


/* ==== Divider Line ==== */
/* קו מפריד בין אזורים */
div .divider {
    height: 4px;
    width: 90%;

    margin: 0 auto;

    border: 0;
    border-radius: 4px;
    background: #4e5280d0;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
}





/* ===== About Section ===== */
/* אזור פרטים אישיים */
.about-container {
    width: 90%;

    margin: 40px auto;

    padding: 30px;
    border-radius: 18px;

    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.3);

    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;
    text-align: center;
}

/* כותרת של אזור הפרטים */
.about-container h2 {
    font-size: 2.4rem;
    font-weight: 850;

    margin-bottom: 10px;

    color: #4e5280;
}

/* רשימת פרטים אישיים */
.about-container p {
    font-size: 1.3rem;
    line-height: 1.6;

    margin: 10px 15px 10px 15px;

    color: #4e5280;

    text-align: left;
}



/* =========================
   Tablets
   ========================= */
/* התאמות למסכים בינוניים */
@media (max-width: 900px) {

    .app-header {
        padding: 20px;
    }

    .app-header .app-title {
        font-size: 3rem;
        /* הקטנת כותרת */
    }

    .app-header .btn {
        height: 50px;
        padding: 11px 22px;
        font-size: 1.2rem;
    }

    .about-container {
        padding: 25px;
        /* הקטנת padding */
    }

    .about-container h2 {
        font-size: 1.9rem;
    }

    .about-container p {
        font-size: 1.1rem;
    }
}


/* =========================
   Phones
   ========================= */
/* התאמות למסכים קטנים */
@media (max-width: 500px) {

    .app-header {
        padding: 15px;
    }

    .app-header .app-title {
        font-size: 2rem;
    }

    .app-header .btn {
        height: 40px;
        padding: 11px 20px;
        font-size: 1rem;
    }



    div .divider {
        width: 95%;
        /* הרחבת הקו */
    }



    .about-container {
        width: 92%;
        padding: 20px;
        margin-top: 30px;
        border-radius: 15px;
    }

    .about-container h2 {
        font-size: 1.9rem;
    }

    .about-container ul {
        font-size: 1rem;
        line-height: 1.5;
        margin-left: 20px;
    }
}